.wrapper{
    height:100vh;
}
.wrapper{
    display: grid; 
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto 1fr auto;
    // grid-template-rows: 50px 350px 50px;
    grid-gap: 5px;
    grid-template-areas:
    "h h h h h h h h h h h h"
    "m m c c c c c c c c c c"
    "f f f f f f f f f f f f";
}
  
.header {
    grid-area: h;
    height:4rem;
}
.menu {
    grid-area: m;
}
.content {
    grid-area: c;
}
.footer {
   grid-area: f;
   height:3rem;
}



@media only screen and (max-width: 600px)  {
    .wrapper {
        grid-template-rows: auto 6rem 1fr auto;
        grid-template-areas:
        "h h h h h h h h h h h h" 
        "m m m m m m m m m m m m"
        "c c c c c c c c c c c c"
        "f f f f f f f f f f f f";
    }
}

// @media only screen and (min-width: 600px)   {
//     .wrapper {
//         grid-template-columns: 120px auto 120px;
//         grid-template-areas:
//   "header  header  header"
//         "sidebar content sidebar2"
//         "footer  footer  footer";
//         max-width: 600px;
//     }
// }

// .box {
// background-color: #444;
// color: #fff;
// border-radius: 5px;
// padding: 10px;
// font-size: 150%; 
// }

// .header,
// .footer {
// background-color: #999;
// }

// .sidebar2 {
// background-color: #ccc;
// color: #444;
// }

/// 3
// Full height!

  
  h1 {
    grid-area: header;
  }
  
  footer {
    grid-area: footer;
  }
  
  nav {
    grid-area: nav;
  }
  
  
  article {
    grid-area: main;
  }
